@page
@model Blog.Pages.Privacy.Privacy
@{
    ViewData["Title"] = "Privacidade";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <h2>Política de Privacidade</h2>
    <p>Esta é a política de privacidade do nosso website, onde explicamos como coletamos, utilizamos, divulgamos e protegemos as informações pessoais dos usuários. Recomendamos que você leia atentamente as seguintes informações.</p>

    <h3>Coleta e Uso de Informações</h3>
    <p>Coletamos informações pessoais, como seu endereço de e-mail e senha, quando você se registra e faz login em nosso site. Essas informações serão utilizadas exclusivamente para autenticação e fornecer acesso ao conteúdo restrito do site.</p>

    <h3>Proteção de Dados</h3>
    <p>Estamos comprometidos em proteger suas informações pessoais e implementamos medidas de segurança adequadas para garantir a confidencialidade e integridade dos dados fornecidos. Utilizamos práticas recomendadas para proteger suas informações contra acesso não autorizado, uso indevido ou divulgação.</p>

    <h3>Divulgação a Terceiros</h3>
    <p>Não compartilhamos suas informações pessoais com terceiros, exceto quando exigido por lei ou quando necessário para cumprir nossos serviços, como processar pagamentos ou fornecer suporte técnico. Mantemos suas informações confidenciais e não as vendemos, trocamos ou divulgamos sem seu consentimento.</p>
</div>
