@page
@model Blog.Pages.Sobre.Sobre
@{
    ViewData["Title"] = "Sobre";
}

<h1>Quem sou eu?</h1>

<div class="container">
    <p>Meu nome é Italo, também conhecido como ItaloCobains. Sou desenvolvedor de software e amante de tecnologia.</p>

    <h2>Minha missão</h2>
    <p>Minha missão é compartilhar meu conhecimento e experiência na área de desenvolvimento de software e tecnologia. Meu objetivo é fornecer conteúdo educativo e informativo, ajudando os outros a aprender e se desenvolver nesses campos. Estou comprometido em compartilhar informações relevantes e úteis, além de incentivar o aprendizado contínuo e a troca de conhecimento.</p>


    <h2>Assuntos</h2>
    <ul class="list-group">
        <li class="list-group-item">Ciência: Vou falar sobre ciência, mas com foco na área computacional.</li>
        <li class="list-group-item">Matemática: Também abordarei tópicos relacionados à matemática.</li>
        <li class="list-group-item">Tecnologia: Falarei sobre programação, desenvolvimento de software, entre outros assuntos relacionados.</li>
    </ul>
</div>
